div#container {
    width: 100%;
}
h1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 70px;
}

h2 {
    font-size: 20px;
}

.aparece {
   display: none;
}

section#resumen {
    text-align: center;
}

nav {
    width: 100%;
    text-align: center;

}

nav > a {
    width: inherit;
    margin-left: 15%;
    margin-right: 15%;
}

#resumen > input {

}

.div#resumen {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

div#contenido {
    font-family: sans-serif;
    font-size: small;
}
