/*reset basico para fuente*/
body{
    font-size: 20px;
}

.contents{
    font-family: 'Crimson Text', serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Sans', sans-serif;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5em;
}

.menu{
    display: none;
}

.menu.active{
    display: block;
    height: 100%;
    position: absolute;
    border: 1px solid;
    top: 108px;
    padding: 20px;
    background-color: white;
}

header{
    border-bottom: 1px solid black;
    height: 100px;
}

header>div{
    width: 100%;
    display: block;
}

header div, header a, header h1, header button{
    display: inline-block;
}

header div:first-child {
    padding: 3%;
}

header .buscar{
    float:right;
    padding: 29px 0;
}

.buscar input {
    width: 100px;
}

header h1{
    font-size: 2em;
    width: calc(100% - 350px);
    text-align: center;
    position: absolute;
    left: 18%;
    top: 0;
}

