body{
    font-size: 16px;
}
*{font-size: 1.2rem;}

div#container {
    width: 100%;
}
h1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 70px;
}

h2 {
    font-size: 20px;
}

.aparece {
   display: none;
}

nav {
    width: 100%;
    text-align: center;

}
nav.mainOptions>div{
    display: inline-block;
    width: 49%;
}
nav > a {
    width: inherit;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 160%;
}

#resumen {
    text-align: center;
}

#resumen > input {
    font-size: 160%;
}

#resumen section {
    width: 45%;
    margin: auto;
    display: inline-block;
    height: 250px;
    vertical-align: top;
}

#resumen section > p {
    text-align: left;
}

div#contenido {
    font-family: sans-serif;
    font-size: small;
}

@media (max-width: 1000px){
    #resumen section {
        display: block;
        width: 70%
    }
}